Win32/Debug/settings.xml
Win32/
DBConst.pas
ModelSupport_Metrologia/
РђРєС‚ РІРІРѕРґР° РІ РїСЂРѕРјС‹С€Р»РµРЅРЅСѓСЋ СЌРєСЃРїР»СѓР°С‚Р°С†РёСЋ РџРћ РћС†РµРЅРєР° С‚РµС…. СЃРѕСЃС‚РѕСЏРЅРёСЏ РџРЈ Рё РїРѕРґР±РѕСЂ РЎР РїРµСЂРµРїР°РґР° РґР°РІР»РµРЅРёСЏ.doc
*.doc
